.input {
    position: relative;

    &__lable {
        position: absolute;
        top: 16px;
        left: 42px;
    }

    &__control {
        padding: 8px 24px;
        width: 100%;
        border: 1px solid #A18268;
        font-size: 16px;
        line-height: 1.17;
        border-radius: 8px;
        background-color: transparent;

        &:focus {
            border-color: var(--color-brand-light);
            outline: none;
        }

        &::placeholder {
            color: #A18268;
            font-size: 16px;
            line-height: 1.17;
        }

        &:focus::placeholder {
            color: var(--color-primary-dark);
        }
    }

}