.contact-section {
    padding-bottom: 96px;
}

.contact-container {
    display: flex;
    gap: 32px;
}

.contakts-title {
    margin-bottom: 16 px;
}

.contact-map {
    flex-shrink: 0;
    border: 0;
    border-radius: 16px;
}